<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jingang.lifechange">

    <application
        android:name=".utils.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lifecycle.PersistActivity"
            android:persistableMode="persistAcrossReboots"
            android:exported="true"
            tools:targetApi="lollipop" />
        <activity android:name=".algorithm.struct.vector.VectorAndStackTestActivity" />
        <activity android:name=".algorithm.struct.tree.TreeTestActivity" />
        <activity android:name=".base.BaseListActivity" />
        <activity android:name=".algorithm.struct.StructMainActivity" />
        <activity android:name=".ui.LearnDisplayActivity" />
        <activity android:name=".lifecycle.LifeCycleMainActivity" />
        <activity android:name=".lifecycle.StandardActivity" />
        <activity
            android:name=".lifecycle.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".algorithm.struct.array.ArrayTestActivity" />
        <activity android:name=".generics.TestGenericsActivity" />
        <activity android:name=".algorithm.AlgorithmMainActivity" />
        <activity android:name=".algorithm.struct.linkedList.TestListOperationActivity" />
        <activity android:name=".lifecycle.DialogWithActivity" />
        <activity android:name=".algorithm.struct.map.MapUseActivity" />
        <activity android:name=".memory.TestMemoryActivity" />
        <activity android:name=".memory.LeakDemoActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".algorithm.sort.SortTestActivity" />
    </application>

</manifest>